body{

  
}
h1{
margin-left: 40%;
}
.formulaire{
    margin-left: 40%;
}

h2{
    text-align: center;
    font-style: italic;
    font-size: 1.5em; 
    text-shadow: 2px 2px 4px #111111;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
}
 
ul{
    border: 3px rgba(10, 10, 10, 0.952) ridge;
    border-radius: 20Spx;
}

h3{
    
    color: red;
    font-size: 1.5em;
}

ul{
    font-size: 1.2em;
   
    margin-left: 35%;
    margin-right: 45%;
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
}

table{
    
    font-weight: bold;
    font-size: 1.5em;

	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}


h4{

    background-image: url("image/Monnaie.jpg");
    margin-left: 12%;
    margin-right: 20%;
}