body{
  background-color: khaki;
}


#menu-accordeon {
    padding:0;
    margin-left: 40%;
    list-style:none;
    text-align: center;
    width: 180px;
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     background-color:#30dce9; 
     background-image:-webkit-linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
     background-image: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
     border-radius: 6px;
     margin-bottom:2px;
     box-shadow: 3px 3px 3px #999;
     border:solid 1px #333A40
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: goldenrod;
     box-shadow: none;
     border:none;
     margin:0
  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.692);
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em
  }
  
  #menu-accordeon li li:hover {
     background: #30dce9;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }

  td{
   margin-left: 45%;
  }