 
body {
    background-color: khaki;
}
h2{
margin-left: 40%;
color:maroon; 
}

.formulaire{
    text-align: center;
    margin-top: 80px;
    border: 0.5px solid black;
    background-color: goldenrod;
    
    margin-left: 370px;
    margin-right: 370px;
    border-radius: 30px;
    margin-bottom: 50px;
}


input{
    margin-left: 5px;
    padding-left: 1Opx;
}

.Nom, label, strong{
    margin-left: 20px;
}

.Mail, label,strong{
    margin-left: 5px;
}
.Mail{
    margin-left: 18px;
    margin-top: 15px;
}
.Confirmation_Mail{
    margin-right: 76px;
    margin-top: 15px;
}
.Mdp{
    margin-right: 36px;
    margin-top: 15px;
}
.Cmdp{
    margin-right: 129px;
    margin-top: 15px;
}
.Prenom{
    margin-top: 10px;
}
.Nom{
    margin-top: 50px;
}
.Valider{
    margin-top: 40px;
}
img{
    margin-left: 1000px;
}
.tout{
    margin-top: -100px;
}