body{
    padding: 0;
    margin: 0;
}
.menu ul{
    list-style: none;
    margin-right: -3%;
    margin-top: 15%;
}
.menu ul li{
    padding: 15px;
    position: relative;
    width: 200px;
    background-color: #34495e;
    border-top: 1px solid #bdc3c7;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
}